/*
 * "ロゴたいぷゴシック(LogoTypeGothic)" ( M+ Font License )
 * http://www.fontna.com/category/gallery/ (フリーフォントの樹)
 */

@font-face {
    font-family: 'LogoTypeGothic-w';
    src: url('../fonts/LogoTypeGothic.eot');
    src: url('../fonts/LogoTypeGothic.eot?#iefix') format('embedded-opentype'),url('../fonts/LogoTypeGothic.woff2') format('woff2'),url('../fonts/LogoTypeGothic.woff') format('woff'),url('../fonts/LogoTypeGothic.ttf') format('truetype');
    font-weight: normal;
}
