/*
 * "アンニャントロマン(toroman)"
 * http://inatsuka.com/extra/toroman/ (森の中の猫の小屋)
 */

@font-face {
    font-family: 'toroman-w';
    src: url('../fonts/toroman.eot');
    src: url('../fonts/toroman.eot?#iefix') format('embedded-opentype'),url('../fonts/toroman.woff2') format('woff2'),url('../fonts/toroman.woff') format('woff'),url('../fonts/toroman.ttf') format('truetype');
    font-weight: 900;
}