doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Test Page
    link(rel="stylesheet" href="./dist/SourceHanSans.css")
    link(rel="stylesheet" href="./dist/mplus-1.css")
    link(rel="stylesheet" href="./dist/mplus-2.css")
    link(rel="stylesheet" href="./dist/mplus-c.css")
    link(rel="stylesheet" href="./dist/mplus-p.css")
    link(rel="stylesheet" href="./dist/mplus-m.css")
    link(rel="stylesheet" href="./dist/mplus-mn.css")
    link(rel="stylesheet" href="./dist/mplus-S.css")

    style.
      body, html {
        font-family: mplus-2-w, mplus-c-w, mplus-S;
        font-size: 16px;
        line-height: 1.6em;
        margin: 0;
        padding: 0;
      }

      section.root {
        padding: .8rem
      }
      
      ol.sdgsList {
        list-style: none
      }
      ol.sdgsList > li > span:nth-child(1) {
        margin-right: .6em
      }

  body
    section.root
      h1 持続可能な開発目標
      p 17の目標と169のターゲット項目

      section
        h2 あらゆる場所のあらゆる形態の貧困を終わらせる
        ol.sdgsList
          li 
            span 1.1
            span 2030年までに、現在1日1.25ドル未満で生活する人々と定義されている極度の貧困をあらゆる場所で終わらせる。
          li 
            span 1.2
            span 2030年までに、各国定義によるあらゆる次元の貧困状態にある、すべての年齢の男性、女性、子どもの割合を半減させる。
          li 
            span 1.3
            span 各国において最低限の基準を含む適切な社会保護制度及び対策を実施し、2030年までに貧困層及び脆弱層に対し十分な保護を達成する。
          li 
            span 1.4
            span 2030年までに、貧困層及び脆弱層をはじめ、すべての男性及び女性が、基礎的サービスへのアクセス、土地及びその他の形態の財産に対する所有権と管理権限、相続財産、天然資源、適切な新技術、マイクロファイナンスを含む金融サービスに加え、経済的資源についても平等な権利を持つことができるように確保する。
          li 
            span 1.5
            span 2030年までに、貧困層や脆弱な状況にある人々の強靱性（レジリエンス）を構築し、気候変動に関連する極端な気象現象やその他の経済、社会、環境的ショックや災害に暴露や脆弱性を軽減する。
          li 
            span 1.a
            span あらゆる次元での貧困を終わらせるための計画や政策を実施するべく、後発開発途上国をはじめとする開発途上国に対して適切かつ予測可能な手段を講じるため、開発協力の強化などを通じて、さまざまな供給源からの相当量の資源の動員を確保する。
          li 
            span 1.b
            span 貧困撲滅のための行動への投資拡大を支援するため、国、地域及び国際レベルで、貧困層やジェンダーに配慮した開発戦略に基づいた適正な政策的枠組みを構築する。

      section
        h2 飢餓を終わらせ、食料安全保障及び栄養改善を実現し、持続可能な農業を促進する
        ol.sdgsList
          li
            span 2.1
            span 2030年までに、飢餓を撲滅し、すべての人々、特に貧困層及び幼児を含む脆弱な立場にある人々が一年中安全かつ栄養のある食料を十分得られるようにする。
          li
            span 2.2
            span 5歳未満の子どもの発育阻害や消耗性疾患について国際的に合意されたターゲットを2025年までに達成するなど、2030年までにあらゆる形態の栄養不良を解消し、若年女子、妊婦・授乳婦及び高齢者の栄養ニーズへの対処を行う。
          li
            span 2.3
            span 2030年までに、土地、その他の生産資源や、投入財、知識、金融サービス、市場及び高付加価値化や非農業雇用の機会への確実かつ平等なアクセスの確保などを通じて、女性、先住民、家族農家、牧畜民及び漁業者をはじめとする小規模食料生産者の農業生産性及び所得を倍増させる。
          li
            span 2.4
            span 2030年までに、生産性を向上させ、生産量を増やし、生態系を維持し、気候変動や極端な気象現象、干ばつ、洪水及びその他の災害に対する適応能力を向上させ、漸進的に土地と土壌の質を改善させるような、持続可能な食料生産システムを確保し、強靭（レジリエント）な農業を実践する。
          li
            span 2.5
            span 2020年までに、国、地域及び国際レベルで適正に管理及び多様化された種子・植物バンクなども通じて、種子、栽培植物、飼育・家畜化された動物及びこれらの近縁野生種の遺伝的多様性を維持し、国際的合意に基づき、遺伝資源及びこれに関連する伝統的な知識へのアクセス及びその利用から生じる利益の公正かつ衡平な配分を促進する。
          li
            span 2.a
            span 開発途上国、特に後発開発途上国における農業生産能力向上のために、国際協力の強化などを通じて、農村インフラ、農業研究・普及サービス、技術開発及び植物・家畜のジーン・バンクへの投資の拡大を図る。
          li
            span 2.b
            span ドーハ開発ラウンドの決議に従い、すべての形態の農産物輸出補助金及び同等の効果を持つすべての輸出措置の並行的撤廃などを通じて、世界の農産物市場における貿易制限や歪みを是正及び防止する。
          li
            span 2.c
            span 食料価格の極端な変動に歯止めをかけるため、食料市場及びデリバティブ市場の適正な機能を確保するための措置を講じ、食料備蓄などの市場情報への適時のアクセスを容易にする。

      section
        h2 あらゆる年齢のすべての人々の健康的な生活を確保し、福祉を促進する
        ol.sdgsList
        
          li
            span 3.1
            span 2030年までに、世界の妊産婦の死亡率を出生 10 万人当たり 70 人未満に削減する。
          li
            span 3.2
            span すべての国が新生児死亡率を少なくとも出生 1,000 件中12件以下まで減らし、5 歳以下死亡率を少なくとも出生 1,000 件中25件以下まで減らすことを目指し、2030年までに、新生児及び5歳未満児の予防可能な死亡を根絶する。
          li
            span 3.3
            span 2030年までに、エイズ、結核、マラリア及び顧みられない熱帯病といった伝染病を根絶するとともに肝炎、水系感染症及びその他の感染症に対処する。
          li
            span 3.4
            span 2030年までに、非感染性疾患による若年死亡率を、予防や治療を通じて3分の1減少させ、精神保健及び福祉を促進する。
          li
            span 3.5
            span 薬物乱用やアルコールの有害な摂取を含む、物質乱用の防止・治療を強化する。
          li
            span 3.6
            span 2020年までに、世界の道路交通事故による死傷者を半減させる。
          li
            span 3.7
            span 2030年までに、家族計画、情報・教育及び性と生殖に関する健康の国家戦略・計画への組み入れを含む、性と生殖に関する保健サービスをすべての人々が利用できるようにする。
          li
            span 3.8
            span すべての人々に対する財政リスクからの保護、質の高い基礎的な保健サービスへのアクセス及び安全で効果的かつ質が高く安価な必須医薬品とワクチンへのアクセスを含む、ユニバーサル・ヘルス・カバレッジ（UHC）を達成する。
          li
            span 3.9
            span 2030年までに、有害化学物質、ならびに大気、水質及び土壌の汚染による死亡及び疾病の件数を大幅に減少させる。
          li
            span 3.a
            span すべての国々において、たばこの規制に関する世界保健機関枠組条約の実施を適宜強化する。
          li
            span 3.b
            span 主に開発途上国に影響を及ぼす感染性及び非感染性疾患のワクチン及び医薬品の研究開発を支援する。また、知的所有権の貿易関連の側面に関する協定（TRIPS 協定）及び公衆の健康に関するドーハ宣言に従い、安価な必須医薬品及びワクチンへのアクセスを提供する。同宣言は公衆衛生保護及び、特にすべての人々への医薬品のアクセス提供にかかわる「知的所有権の貿易関連の側面に関する協定（TRIPS 協定）」の柔軟性に関する規定を最大限に行使する開発途上国の権利を確約したものである。
          li
            span 3.c
            span 開発途上国、特に後発開発途上国及び小島嶼開発途上国において保健財政及び保健人材の採用、能力開発・訓練及び定着を大幅に拡大させる。
          li
            span 3.d
            span すべての国々、特に開発途上国の国家・世界規模な健康危険因子の早期警告、危険因子緩和及び危険因子管理のための能力を強化する。

      section
        h2 すべての人々への、包摂的かつ公正な質の高い教育を提供し、生涯学習の機会を促進する
        ol.sdgsList
          li
            span 4.1
            span 2030年までに、すべての子どもが男女の区別なく、適切かつ効果的な学習成果をもたらす、無償かつ公正で質の高い初等教育及び中等教育を修了できるようにする。
          li
            span 4.2
            span 2030年までに、すべての子どもが男女の区別なく、質の高い乳幼児の発達支援、ケア及び就学前教育にアクセスすることにより、初等教育を受ける準備が整うようにする。
          li
            span 4.3
            span 2030年までに、すべての人々が男女の区別なく、手頃な価格で質の高い技術教育、職業教育及び大学を含む高等教育への平等なアクセスを得られるようにする。
          li
            span 4.4
            span 2030年までに、技術的・職業的スキルなど、雇用、働きがいのある人間らしい仕事 及び起業に必要な技能を備えた若者と成人の割合を大幅に増加させる。
          li
            span 4.5
            span 2030年までに、教育におけるジェンダー格差を無くし、障害者、先住民及び脆弱な立場にある子どもなど、脆弱層があらゆるレベルの教育や職業訓練に平等にアクセスできるようにする。
          li
            span 4.6
            span 2030年までに、すべての若者及び大多数（男女ともに）の成人が、読み書き能力及び基本的計算能力を身に付けられるようにする。
          li
            span 4.7
            span 2030年までに、持続可能な開発のための教育及び持続可能なライフスタイル、人権、男女の平等、平和及び非暴力的文化の推進、グローバル・シチズンシップ、文化多様性と文化の持続可能な開発への貢献の理解の教育を通して、全ての学習者が、持続可能な開発を促進するために必要な知識及び技能を習得できるようにする。
          li
            span 4.a
            span 子ども、障害及びジェンダーに配慮した教育施設を構築・改良し、すべての人々に安全で非暴力的、包摂的、効果的な学習環境を提供できるようにする。
          li
            span 4.b
            span 2020年までに、開発途上国、特に後発開発途上国及び小島嶼開発途上国、ならびにアフリカ諸国を対象とした、職業訓練、情報通信技術（ICT）、技術・工学・科学プログラムなど、先進国及びその他の開発途上国における高等教育の奨学金の件数を全世界で大幅に増加させる。
          li
            span 4.c
            span 2030年までに、開発途上国、特に後発開発途上国及び小島嶼開発途上国における教員養成のための国際協力などを通じて、資格を持つ教員の数を大幅に増加させる。

      section
        h2 ジェンダー平等を達成し、すべての女性及び女児の能力強化を行う
        ol.sdgsList
          li
            span 5.1
            span あらゆる場所におけるすべての女性及び女児に対するあらゆる形態の差別を撤廃する。
          li
            span 5.2
            span 人身売買や性的、その他の種類の搾取など、すべての女性及び女児に対する、公共・私的空間におけるあらゆる形態の暴力を排除する。
          li
            span 5.3
            span 未成年者の結婚、早期結婚、強制結婚及び女性器切除など、あらゆる有害な慣行を撤廃する。
          li
            span 5.4
            span 公共のサービス、インフラ及び社会保障政策の提供、ならびに各国の状況に応じた世帯・家族内における責任分担を通じて、無報酬の育児・介護や家事労働を認識・評価する。
          li
            span 5.5
            span 政治、経済、公共分野でのあらゆるレベルの意思決定において、完全かつ効果的な女性の参画及び平等なリーダーシップの機会を確保する。
          li
            span 5.6
            span 国際人口・開発会議（ICPD）の行動計画及び北京行動綱領、ならびにこれらの検証会議の成果文書に従い、性と生殖に関する健康及び権利への普遍的アクセスを確保する。
          li
            span 5.a
            span 女性に対し、経済的資源に対する同等の権利、ならびに各国法に従い、オーナーシップ及び土地その他の財産、金融サービス、相続財産、天然資源に対するアクセスを与えるための改革に着手する。
          li
            span 5.b
            span 女性の能力強化促進のため、ICT をはじめとする実現技術の活用を強化する。
          li
            span 5.c
            span ジェンダー平等の促進、ならびにすべての女性及び女子のあらゆるレベルでの能力強化のための適正な政策及び拘束力のある法規を導入・強化する。

      section
        h2 すべての人々の水と衛生の利用可能性と持続可能な管理を確保する
        ol.sdgsList
          li
            span 6.1
            span 2030年までに、すべての人々の、安全で安価な飲料水の普遍的かつ平等なアクセスを達成する。
          li
            span 6.2
            span 2030年までに、すべての人々の、適切かつ平等な下水施設・衛生施設へのアクセスを達成し、野外での排泄をなくす。女性及び女子、ならびに脆弱な立場にある人々のニーズに特に注意を向ける。
          li
            span 6.3
            span 2030年までに、汚染の減少、投棄廃絶と有害な化学物質や物質の放出の最小化、未処理の排水の割合半減及び再生利用と安全な再利用の世界的規模での大幅な増加させることにより、水質を改善する。
          li
            span 6.4
            span 2030年までに、全セクターにおいて水の利用効率を大幅に改善し、淡水の持続可能な採取及び供給を確保し水不足に対処するとともに、水不足に悩む人々の数を大幅に減少させる。
          li
            span 6.5
            span 2030年までに、国境を越えた適切な協力を含む、あらゆるレベルでの統合水資源管理を実施する。
          li
            span 6.6
            span 2020年までに、山地、森林、湿地、河川、帯水層、湖沼などの水に関連する生態系の保護・回復を行う。
          li
            span 6.a
            span 2030年までに、集水、海水淡水化、水の効率的利用、排水処理、リサイクル・再利用技術など、開発途上国における水と衛生分野での活動や計画を対象とした国際協力と能力構築支援を拡大する。
          li
            span 6.b
            span 水と衛生に関わる分野の管理向上への地域コミュニティの参加を支援・強化する。

      section
        h2 すべての人々の、安価かつ信頼できる持続可能な近代的エネルギーへのアクセスを確保する
        ol.sdgsList
          li
            span 7.1
            span 2030年までに、安価かつ信頼できる現代的エネルギーサービスへの普遍的アクセスを確保する。
          li
            span 7.2
            span 2030年までに、世界のエネルギーミックスにおける再生可能エネルギーの割合を大幅に拡大させる。
          li
            span 7.3
            span 2030年までに、世界全体のエネルギー効率の改善率を倍増させる。
          li
            span 7.a
            span 2030年までに、再生可能エネルギー、エネルギー効率及び先進的かつ環境負荷の低い化石燃料技術などのクリーンエネルギーの研究及び技術へのアクセスを促進するための国際協力を強化し、エネルギー関連インフラとクリーンエネルギー技術への投資を促進する。
          li
            span 7.b
            span 2030年までに、各々の支援プログラムに沿って開発途上国、特に後発開発途上国及び小島嶼開発途上国、内陸開発途上国のすべての人々に現代的で持続可能なエネルギーサービスを供給できるよう、インフラ拡大と技術向上を行う。

      section
        h2 包摂的かつ持続可能な経済成長及びすべての人々の完全かつ生産的な雇用と働きがいのある人間らしい雇用(ディーセント・ワーク)を促進する
        ol.sdgsList
          li
            span 8.1
            span 各国の状況に応じて、一人当たり経済成長率を持続させる。特に後発開発途上国は少なくとも年率 7%の成長率を保つ。
          li
            span 8.2
            span 高付加価値セクターや労働集約型セクターに重点を置くことなどにより、多様化、技術向上及びイノベーションを通じた高いレベルの経済生産性を達成する。
          li
            span 8.3
            span 生産活動や適切な雇用創出、起業、創造性及びイノベーションを支援する開発重視型の政策を促進するとともに、金融サービスへのアクセス改善などを通じて中小零細企業の設立や成長を奨励する。
          li
            span 8.4
            span 2030年までに、世界の消費と生産における資源効率を漸進的に改善させ、先進国主導の下、持続可能な消費と生産に関する 10 カ年計画枠組みに従い、経済成長と環境悪化の分断を図る。
          li
            span 8.5
            span 2030年までに、若者や障害者を含むすべての男性及び女性の、完全かつ生産的な雇用及び働きがいのある人間らしい仕事、ならびに同一労働同一賃金を達成する。
          li
            span 8.6
            span 2020年までに、就労、就学及び職業訓練のいずれも行っていない若者の割合を大幅に減らす。
          li
            span 8.7
            span 強制労働を根絶し、現代の奴隷制、人身売買を終らせるための緊急かつ効果的な措置の実施、最悪な形態の児童労働の禁止及び撲滅を確保する。2025年までに児童兵士の募集と使用を含むあらゆる形態の児童労働を撲滅する。
          li
            span 8.8
            span 移住労働者、特に女性の移住労働者や不安定な雇用状態にある労働者など、すべての労働者の権利を保護し、安全・安心な労働環境を促進する。
          li
            span 8.9
            span 2030年までに、雇用創出、地方の文化振興・産品販促につながる持続可能な観光業を促進するための政策を立案し実施する。
          li
            span 8.1
            span  国内の金融機関の能力を強化し、すべての人々の銀行取引、保険及び金融サービスへのアクセスを促進・拡大する。
          li
            span 8.a
            span 後発開発途上国への貿易関連技術支援のための拡大統合フレームワーク（EIF）などを通じた支援を含む、開発途上国、特に後発開発途上国に対する貿易のための援助を拡大する。
          li
            span 8.b
            span 2020年までに、若年雇用のための世界的戦略及び国際労働機関（ILO）の仕事に関する世界協定の実施を展開・運用化する。

      section
        h2 強靱（レジリエント）なインフラ構築、包摂的かつ持続可能な産業化の促進及びイノベーションの推進を図る
        ol.sdgsList
          li
            span 9.1
            span すべての人々に安価で公平なアクセスに重点を置いた経済発展と人間の福祉を支援するために、地域・越境インフラを含む質の高い、信頼でき、持続可能かつ強靱（レジリエント）なインフラを開発する。
          li
            span 9.2
            span 包摂的かつ持続可能な産業化を促進し、2030年までに各国の状況に応じて雇用及びGDP に占める産業セクターの割合を大幅に増加させる。後発開発途上国については同割合を倍増させる。
          li
            span 9.3
            span 特に開発途上国における小規模の製造業その他の企業の、安価な資金貸付などの金融サービスやバリューチェーン及び市場への統合へのアクセスを拡大する。
          li
            span 9.4
            span 2030年までに、資源利用効率の向上とクリーン技術及び環境に配慮した技術・産業プロセスの導入拡大を通じたインフラ改良や産業改善により、持続可能性を向上させる。すべての国々は各国の能力に応じた取組を行う。
          li
            span 9.5
            span 2030年までにイノベーションを促進させることや 100 万人当たりの研究開発従事者数を大幅に増加させ、また官民研究開発の支出を拡大させるなど、開発途上国をはじめとするすべての国々の産業セクターにおける科学研究を促進し、技術能力を向上させる。
          li
            span 9.a
            span アフリカ諸国、後発開発途上国、内陸開発途上国及び小島嶼開発途上国への金融・テクノロジー・技術の支援強化を通じて、開発途上国における持続可能かつ強靱（レジリエント）なインフラ開発を促進する。
          li
            span 9.b
            span 産業の多様化や商品への付加価値創造などに資する政策環境の確保などを通じて、開発途上国の国内における技術開発、研究及びイノベーションを支援する。
          li
            span 9.c
            span 後発開発途上国において情報通信技術へのアクセスを大幅に向上させ、2020年までに普遍的かつ安価なインターネット・アクセスを提供できるよう図る。

      section
        h2 各国内及び各国間の不平等を是正する
        ol.sdgsList
          li
            span 10.1
            span 2030年までに、各国の所得下位 40%の所得成長率について、国内平均を上回る数値を漸進的に達成し、持続させる。
          li
            span 10.2
            span 2030年までに、年齢、性別、障害、人種、民族、出自、宗教、あるいは経済的地位その他の状況に関わりなく、すべての人々の能力強化及び社会的、経済的及び政治的な包含を促進する。
          li
            span 10.3
            span 差別的な法律、政策及び慣行の撤廃、ならびに適切な関連法規、政策、行動の促進などを通じて、機会均等を確保し、成果の不平等を是正する。
          li
            span 10.4
            span 税制、賃金、社会保障政策をはじめとする政策を導入し、平等の拡大を漸進的に達成する。
          li
            span 10.5
            span 世界金融市場と金融機関に対する規制とモニタリングを改善し、こうした規制の実施を強化する。
          li
            span 10.6
            span 地球規模の国際経済・金融制度の意思決定における開発途上国の参加や発言力を拡大させることにより、より効果的で信用力があり、説明責任のある正当な制度を実現する。
          li
            span 10.7
            span 計画に基づき良く管理された移住政策の実施などを通じて、秩序のとれた、安全で規則的かつ責任ある移住や流動性を促進する。
          li
            span 10.a
            span 世界貿易機関（WTO）協定に従い、開発途上国、特に後発開発途上国に対する特別かつ異なる待遇の原則を実施する。
          li
            span 10.b
            span 各国の国家計画やプログラムに従って、後発開発途上国、アフリカ諸国、小島途上国及び内陸開発途上国を始めとする、ニーズが最も大きい国々への、政府開発援助（ODA）及び海外直接投資を含む資金の流入を促進する。
          li
            span 10.c
            span 2030年までに、移住労働者による送金コストを 3%未満に引き下げ、コストが 5%を越える送金経路を撤廃する。

      section
        h2 包摂的で安全かつ強靱（レジリエント）で持続可能な都市及び人間居住を実現する
        ol.sdgsList
          li
            span 11.1
            span 2030年までに、すべての人々の、適切、安全かつ安価な住宅及び基本的サービスへのアクセスを確保し、スラムを改善する。
          li
            span 11.2
            span 2030年までに、脆弱な立場にある人々、女性、子ども、障害者及び高齢者のニーズに特に配慮し、公共交通機関の拡大などを通じた交通の安全性改善により、すべての人々に、安全かつ安価で容易に利用できる、持続可能な輸送システムへのアクセスを提供する。
          li
            span 11.3
            span 2030年までに、包摂的かつ持続可能な都市化を促進し、すべての国々の参加型、包摂的かつ持続可能な人間居住計画・管理の能力を強化する。
          li
            span 11.4
            span 世界の文化遺産及び自然遺産の保護・保全の努力を強化する。
          li
            span 11.5
            span 2030年までに、貧困層及び脆弱な立場にある人々の保護に焦点をあてながら、水関連災害などの災害による死者や被災者数を大幅に削減し、世界の国内総生産比で直接的経済損失を大幅に減らす。
          li
            span 11.6
            span 2030年までに、大気の質及び一般並びにその他の廃棄物の管理に特別な注意を払うことによるものを含め、都市の一人当たりの環境上の悪影響を軽減する。
          li
            span 11.7
            span 2030年までに、女性、子ども、高齢者及び障害者を含め、人々に安全で包摂的かつ利用が容易な緑地や公共スペースへの普遍的アクセスを提供する。
          li
            span 11.a
            span 各国・地域規模の開発計画の強化を通じて、経済、社会、環境面における都市部、都市周辺部及び農村部間の良好なつながりを支援する。
          li
            span 11.b
            span 2020年までに、包含、資源効率、気候変動の緩和と適応、災害に対する強靱さ（レジリエンス）を目指す総合的政策及び計画を導入・実施した都市及び人間居住地の件数を大幅に増加させ、仙台防災枠組2015-2030に沿って、あらゆるレベルでの総合的な災害リスク管理の策定と実施を行う。
          li
            span 11.c
            span 財政的及び技術的な支援などを通じて、後発開発途上国における現地の資材を用いた、持続可能かつ強靱（レジリエント）な建造物の整備を支援する。

      section
        h2 持続可能な生産消費形態を確保する
        ol.sdgsList
          li
            span 12.1
            span 開発途上国の開発状況や能力を勘案しつつ、持続可能な消費と生産に関する 10年計画枠組み（10YFP）を実施し、先進国主導の下、すべての国々が対策を講じる。
          li
            span 12.2
            span 2030年までに天然資源の持続可能な管理及び効率的な利用を達成する。
          li
            span 12.3
            span 2030年までに小売・消費レベルにおける世界全体の一人当たりの食料の廃棄を半減させ、収穫後損失などの生産・サプライチェーンにおける食料の損失を減少させる。
          li
            span 12.4
            span 2020年までに、合意された国際的な枠組みに従い、製品ライフサイクルを通じ、環境上適正な化学物資やすべての廃棄物の管理を実現し、人の健康や環境への悪影響を最小化するため、化学物質や廃棄物の大気、水、土壌への放出を大幅に削減する。
          li
            span 12.5
            span 2030年までに、廃棄物の発生防止、削減、再生利用及び再利用により、廃棄物の発生を大幅に削減する。
          li
            span 12.6
            span 特に大企業や多国籍企業などの企業に対し、持続可能な取り組みを導入し、持続可能性に関する情報を定期報告に盛り込むよう奨励する。
          li
            span 12.7
            span 国内の政策や優先事項に従って持続可能な公共調達の慣行を促進する。
          li
            span 12.8
            span 2030年までに、人々があらゆる場所において、持続可能な開発及び自然と調和したライフスタイルに関する情報と意識を持つようにする。
          li
            span 12.a
            span 開発途上国に対し、より持続可能な消費・生産形態の促進のための科学的・技術的能力の強化を支援する。
          li
            span 12.b
            span 雇用創出、地方の文化振興・産品販促につながる持続可能な観光業に対して持続可能な開発がもたらす影響を測定する手法を開発・導入する。
          li
            span 12.c
            span 開発途上国の特別なニーズや状況を十分考慮し、貧困層やコミュニティを保護する形で開発に関する悪影響を最小限に留めつつ、税制改正や、有害な補助金が存在する場合はその環境への影響を考慮してその段階的廃止などを通じ、各国の状況に応じて、市場のひずみを除去することで、浪費的な消費を奨励する、化石燃料に対する非効率な補助金を合理化する。

      section
        h2 気候変動及びその影響を軽減するための緊急対策を講じる
        ol.sdgsList
          li
            span 13.1
            span すべての国々において、気候関連災害や自然災害に対する強靱性（レジリエンス）及び適応力を強化する。
          li
            span 13.2
            span 気候変動対策を国別の政策、戦略及び計画に盛り込む。
          li
            span 13.3
            span 気候変動の緩和、適応、影響軽減及び早期警戒に関する教育、啓発、人的能力及び制度機能を改善する。
          li
            span 13.a
            span 重要な緩和行動の実施とその実施における透明性確保に関する開発途上国のニーズに対応するため、2020年までにあらゆる供給源から年間 1,000 億ドルを共同で動員するという、UNFCCC の先進締約国によるコミットメントを実施し、可能な限り速やかに資本を投入して緑の気候基金を本格始動させる。
          li
            span 13.b
            span 後発開発途上国及び小島嶼開発途上国において、女性や青年、地方及び社会的に疎外されたコミュニティに焦点を当てることを含め、気候変動関連の効果的な計画策定と管理のための能力を向上するメカニズムを推進する

      section
        h2 持続可能な開発のために海洋・海洋資源を保全し、持続可能な形で利用する
        ol.sdgsList
          li
            span 14.1
            span 2025年までに、海洋堆積物や富栄養化を含む、特に陸上活動による汚染など、あらゆる種類の海洋汚染を防止し、大幅に削減する。
          li
            span 14.2
            span 2020年までに、海洋及び沿岸の生態系に関する重大な悪影響を回避するため、強靱性（レジリエンス）の強化などによる持続的な管理と保護を行い、健全で生産的な海洋を実現するため、海洋及び沿岸の生態系の回復のための取組を行う。
          li
            span 14.3
            span あらゆるレベルでの科学的協力の促進などを通じて、海洋酸性化の影響を最小限化し、対処する。
          li
            span 14.4
            span 水産資源を、実現可能な最短期間で少なくとも各資源の生物学的特性によって定められる最大持続生産量のレベルまで回復させるため、2020年までに、漁獲を効果的に規制し、過剰漁業や違法・無報告・無規制（IUU）漁業及び破壊的な漁業慣行を終了し、科学的な管理計画を実施する。
          li
            span 14.5
            span 2020年までに、国内法及び国際法に則り、最大限入手可能な科学情報に基づいて、少なくとも沿岸域及び海域の 10 パーセントを保全する。
          li
            span 14.6
            span 開発途上国及び後発開発途上国に対する適切かつ効果的な、特別かつ異なる待遇が、世界貿易機関（WTO）漁業補助金交渉の不可分の要素であるべきことを認識した上で、 2020年までに、過剰漁獲能力や過剰漁獲につながる漁業補助金を禁止し、違法・無報告・無規制（IUU）漁業につながる補助金を撤廃し、同様の新たな補助金の導入を抑制する2。
          li
            span 14.7
            span 2030年までに、漁業、水産養殖及び観光の持続可能な管理などを通じ、小島嶼開発途上国及び後発開発途上国の海洋資源の持続的な利用による経済的便益を増大させる。
          li
            span 14.a
            span 海洋の健全性の改善と、開発途上国、特に小島嶼開発途上国および後発開発途上国の開発における海洋生物多様性の寄与向上のために、海洋技術の移転に関するユネスコ政府間海洋学委員会の基準・ガイドラインを勘案しつつ、科学的知識の増進、研究能力の向上、及び海洋技術の移転を行う。
          li
            span 14.b
            span 小規模・沿岸零細漁業者に対し、海洋資源及び市場へのアクセスを提供する。
          li
            span 14.c
            span 「我々の求める未来」のパラ158において想起されるとおり、海洋及び海洋資源の保全及び持続可能な利用のための法的枠組みを規定する海洋法に関する国際連合条約（UNCLOS）に反映されている国際法を実施することにより、海洋及び海洋資源の保全及び持続可能な利用を強化する。

      section
        h2 陸域生態系の保護、回復、持続可能な利用の推進、持続可能な森林の経営、砂漠化への対処、ならびに土地の劣化の阻止・回復及び生物多様性の損失を阻止する
        ol.sdgsList
          li
            span 15.1
            span 2020年までに、国際協定の下での義務に則って、森林、湿地、山地及び乾燥じめとする陸域生態系と内陸淡水生態系及びそれらのサービスの保全、回復及び持続可能な利用を確保する。
          li
            span 15.2
            span 2020年までに、あらゆる種類の森林の持続可能な経営の実施を促進し、森林減少を阻止し、劣化した森林を回復し、世界全体で新規植林及び再植林を大幅に増加させる。
          li
            span 15.3
            span 2030年までに、砂漠化に対処し、砂漠化、干ばつ及び洪水の影響を受けた土地などの劣化した土地と土壌を回復し、土地劣化に荷担しない世界の達成に尽力する。
          li
            span 15.4
            span 2030年までに持続可能な開発に不可欠な便益をもたらす山地生態系の能力を強化するため、生物多様性を含む山地生態系の保全を確実に行う。
          li
            span 15.5
            span 自然生息地の劣化を抑制し、生物多様性の損失を阻止し、2020年までに絶滅危惧種を保護し、また絶滅防止するための緊急かつ意味のある対策を講じる。
          li
            span 15.6
            span 国際合意に基づき、遺伝資源の利用から生ずる利益の公正かつ衡平な配分を推進するとともに、遺伝資源への適切なアクセスを推進する。
          li
            span 15.7
            span 保護の対象となっている動植物種の密猟及び違法取引を撲滅するための緊急対策を講じるとともに、違法な野生生物製品の需要と供給の両面に対処する。
          li
            span 15.8
            span 2020年までに、外来種の侵入を防止するとともに、これらの種による陸域・海洋生態系への影響を大幅に減少させるための対策を導入し、さらに優先種の駆除または根絶を行う。
          li
            span 15.9
            span 2020年までに、生態系と生物多様性の価値を、国や地方の計画策定、開発プロセス及び貧困削減のための戦略及び会計に組み込む。
          li
            span 15.a
            span 生物多様性と生態系の保全と持続的な利用のために、あらゆる資金源からの資金の動員及び大幅な増額を行う。
          li
            span 15.b
            span 保全や再植林を含む持続可能な森林経営を推進するため、あらゆるレベルのあらゆる供給源から、持続可能な森林経営のための資金の調達と開発途上国への十分なインセンティブ付与のための相当量の資源を動員する。
          li
            span 15.c
            span 持続的な生計機会を追求するために地域コミュニティの能力向上を図る等、保護種の密猟及び違法な取引に対処するための努力に対する世界的な支援を強化する。

      section
        h2 持続可能な開発のための平和で包摂的な社会を促進し、すべての人々に司法へのアクセスを提供し、あらゆるレベルにおいて効果的で説明責任のある包摂的な制度を構築する
        ol.sdgsList
          li
            span 16.1
            span あらゆる場所において、すべての形態の暴力及び暴力に関連する死亡率を大幅に減少させる。
          li
            span 16.2
            span 子どもに対する虐待、搾取、取引及びあらゆる形態の暴力及び拷問を撲滅する。
          li
            span 16.3
            span 国家及び国際的なレベルでの法の支配を促進し、すべての人々に司法への平等なアクセスを提供する。
          li
            span 16.4
            span 2030年までに、違法な資金及び武器の取引を大幅に減少させ、奪われた財産の回復及び返還を強化し、あらゆる形態の組織犯罪を根絶する。
          li
            span 16.5
            span あらゆる形態の汚職や贈賄を大幅に減少させる。
          li
            span 16.6
            span あらゆるレベルにおいて、有効で説明責任のある透明性の高い公共機関を発展させる。
          li
            span 16.7
            span あらゆるレベルにおいて、対応的、包摂的、参加型及び代表的な意思決定を確保する。
          li
            span 16.8
            span グローバル・ガバナンス機関への開発途上国の参加を拡大・強化する。
          li
            span 16.9
            span 2030年までに、すべての人々に出生登録を含む法的な身分証明を提供する。
          li
            span 16.10
            span 国内法規及び国際協定に従い、情報への公共アクセスを確保し、基本的自由を保障する。
          li
            span 16.a
            span 特に開発途上国において、暴力の防止とテロリズム・犯罪の撲滅に関するあらゆるレベルでの能力構築のため、国際協力などを通じて関連国家機関を強化する。
          li
            span 16.b
            span 持続可能な開発のための非差別的な法規及び政策を推進し、実施する。

      section
        h2 持続可能な開発のための実施手段を強化し、グローバル・パートナーシップを活性化する
        h3 資金
        ol.sdgsList
          li
            span 17.1
            span 課税及び徴税能力の向上のため、開発途上国への国際的な支援なども通じて、国内資源の動員を強化する。
          li
            span 17.2
            span 先進国は、 開発途上国に対する ODA を GNI 比 0.7%に、 後発開発途上国に対する ODAを GNI 比 0.15～0.20%にするという目標を達成するとの多くの国によるコミットメントを含む ODA に係るコミットメントを完全に実施する。ODA 供与国が、少なくとも GNI 比 0.20%の ODA を後発開発途上国に供与するという目標の設定を検討することを奨励する。
          li
            span 17.3
            span 複数の財源から、開発途上国のための追加的資金源を動員する。
          li
            span 17.4
            span 必要に応じた負債による資金調達、債務救済及び債務再編の促進を目的とした協調的な政策により、開発途上国の長期的な債務の持続可能性の実現を支援し、重債務貧困国（HIPC）の対外債務への対応により債務リスクを軽減する。
          li
            span 17.5
            span 後発開発途上国のための投資促進枠組みを導入及び実施する。

        h3 技術
        ol.sdgsList
          li
            span 17.6
            span 科学技術イノベーション（STI）及びこれらへのアクセスに関する南北協力、南南協力及び地域的・国際的な三角協力を向上させる。また、国連レベルをはじめとする既存のメカニズム間の調整改善や、全世界的な技術促進メカニズムなどを通じて、相互に合意した条件において知識共有を進める。
          li
            span 17.7
            span 開発途上国に対し、譲許的・特恵的条件などの相互に合意した有利な条件の下で、環境に配慮した技術の開発、移転、普及及び拡散を促進する。
          li
            span 17.8
            span 2017年までに、後発開発途上国のための技術バンク及び科学技術イノベーション能力構築メカニズムを完全運用させ、情報通信技術（ICT）をはじめとする実現技術の利用を強化する。

        h3 能力構築
        ol.sdgsList
          li
            span 17.9
            span すべての持続可能な開発目標を実施するための国家計画を支援するべく、南北協力、南南協力及び三角協力などを通じて、開発途上国における効果的かつ的をしぼった能力構築の実施に対する国際的な支援を強化する。

        h3 貿易
        ol.sdgsList
          li
            span 17.10
            span ドーハ・ラウンド（DDA）交渉の結果を含めた WTO の下での普遍的でルールに基づいた、差別的でない、公平な多角的貿易体制を促進する。
          li
            span 17.11
            span 開発途上国による輸出を大幅に増加させ、特に 2020年までに世界の輸出に占める後発開発途上国のシェアを倍増させる。
          li
            span 17.12
            span 後発開発途上国からの輸入に対する特恵的な原産地規則が透明で簡略的かつ市場アクセスの円滑化に寄与するものとなるようにすることを含む世界貿易機関（WTO）の決定に矛盾しない形で、すべての後発開発途上国に対し、永続的な無税・無枠の市場アクセスを適時実施する。

        h3 体制面
        h4 政策・制度的整合性
        ol.sdgsList
          li
            span 17.13
            span 政策協調や政策の首尾一貫性などを通じて、世界的なマクロ経済の安定を促進する。
          li
            span 17.14
            span 持続可能な開発のための政策の一貫性を強化する。
          li
            span 17.15
            span 貧困撲滅と持続可能な開発のための政策の確立・実施にあたっては、各国の政策空間及びリーダーシップを尊重する。

        h4 マルチステークホルダー・パートナーシップ 
        ol.sdgsList
          li
            span 17.16
            span すべての国々、特に開発途上国での持続可能な開発目標の達成を支援すべく、知識、専門的知見、技術及び資金源を動員、共有するマルチステークホルダー・パートナ ーシップによって補完しつつ、持続可能な開発のためのグローバル・パートナーシ ップを強化する。
          li
            span 17.17
            span さまざまなパートナーシップの経験や資源戦略を基にした、効果的な公的、官民、市民社会のパートナーシップを奨励・推進する。

        h4 データ、モニタリング、説明責任
        ol.sdgsList
          li
            span 17.18
            span 2020年までに、後発開発途上国及び小島嶼開発途上国を含む開発途上国に対する能力構築支援を強化し、所得、性別、年齢、人種、民族、居住資格、障害、地理的位置及びその他各国事情に関連する特性別の質が高く、タイムリーかつ信頼性のある非集計型データの入手可能性を向上させる。
          li
            span 17.19
            span 2030年までに、持続可能な開発の進捗状況を測る GDP 以外の尺度を開発する既存の取組を更に前進させ、開発途上国における統計に関する能力構築を支援する。
